[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytrends = {version = "==4.4.0"}
tqdm = {version = ">=4.4.0"}

[dev-packages]

[requires]
python_version = "3.9"
